<div>
<h2>Parent with children</h2>
<div class="block-children">
{{#my-parent}}
  {{my-child}}
  {{my-child}}
  {{my-child}}
{{/my-parent}}
</div>
</div>

<div>
<h2>Child alone</h2>
<div class="child-alone">
  {{my-child}}
</div>
</div>
